@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Inter:wght@400;700&family=Josefin+Sans:wght@300;400;600&family=Karla:ital,wght@0,400;0,700;1,400&family=Kumbh+Sans:wght@400;700&family=League+Spartan:wght@400;500;700&family=Lexend+Deca&family=Libre+Franklin:wght@300;600;700&family=Manrope:wght@500;700&family=Open+Sans:ital@0;1&family=Poppins:wght@200;400;500;600;700&family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
}


body{
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
    
}

.container {
width: 375px;
height: 100vh;
// margin: 0 auto;

      
     
}
 
.logo{
    width: 50px;
    padding: 60px 20px 40px 10px;
    margin: 0 auto;
    display:block;
}




h1{
   text-align: center;
 margin-top: 1rem;
font-size: 1.3rem;
font-weight: 300;
color: rgb(156, 166, 163);
width: 275px;
margin: 0 auto;

                span{
                    font-weight: 700;
                    color: black;
                }
}

h2{
text-align: center;
    width: 275px;
    font-size: .8em;
    padding-top: 20px;
    padding-bottom:30px;
    color: rgb(71, 71, 71);
    // margin-left: 70px;
    font-weight: 300;
    margin: 0 auto;
   
   
}

form {
      position: relative;




                input {
                    display: block;
                    border-radius: 20px;
                    border: solid 1px hsl(223, 100%, 88%);
                    padding: 10px 40px 10px 20px;
                    font-size: .6rem;
                    color: hsl(223, 100%, 88%) ;
                    margin: 0 auto;
                    width: 200px;
                   
                }

                .button {
                    width: 260px;
                    border: none;
                    color: white;
                    background-color: hsl(210, 86%, 54%);
                    border-radius: 20px;
                    font-size: 12px;
                    padding: 11px 20px;
                    text-decoration: none;
                    font-weight: 600;
                    display: block;
                    margin: 30px auto;

                }
}


.dashboard {
    width: 300px;
margin: 50px auto;
display: block;
}

.social{
    width: 100px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

 

.social i{

color:rgb(79, 121, 238) ;

}

p{
    font-size: .6rem;
    text-align: center;
    margin-top: 20px;
    // margin-bottom: 20px;
    padding-bottom: 50px;
    color:  rgb(135, 135, 135);
}

.error-msg{
    position: absolute;
    top: 42px;
    left: 80px;
    text-align: center;
    font-size: .6rem;
    color: red;
    margin-left: 20px;
    padding-bottom: 10px;
   
}


@media screen  and (min-width:920px) {

body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 1200px;
}

form input {
 
    border-radius: 20px;
    border: solid 1px hsl(223, 100%, 88%);
    padding: 15px 50px 15px 20px;
    font-size: .6rem;
    color: hsl(223, 100%, 88%) ;
    width: 200px;
}


 
    h1{
        font-size: 3em;
        width: 700px;
 
    }

    h2{
        text-align: center;
            width: 275px;
            font-size: 1em;
            padding-top: 30px;
            padding-bottom:30px;
        }

    form{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 500px;

        .button {
            width: 180px;
            height: 40px;
            border: none;
            color: white;
            background-color: hsl(221, 86%, 54%);
            border-radius: 20px;
            font-size: 12px;
            padding: 0;
            text-decoration: none;
            font-weight: 600;
            
    
        }
    }

    .error-msg{
        position: absolute;
        top: 80px;
        left: 5px;
        text-align: center;
        font-size: .6rem;
        color: red;
        margin-left: 10px;
        padding-bottom: 10px;
        
    }

  
    .dashboard{
        width: 500px;
    }
}
// desktop


.attribution { font-size: 11px; text-align: center; 
display: none;}
.attribution a { color: hsl(228, 45%, 44%); }